/* PC */
@media only screen and (min-width:1024px){
    .PC {
        display: block;
    }

    #header .mobile-menu-btn{
        display: none;
    }
}

/* Tablet and Mobile */
@media only screen and (max-width: 1023px){
    .btn{
        padding: 15px 16px;
    }

    #nav .subnav a{
        padding: 5px 12px;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    .social-list{
        font-size: 48px;
    }

    #footer .social-list a{
        margin: 0 8px;
    }

    #footer .copy-right a{
        padding: 12px 0;
        display: inline-block;
    }

    .contact-info{
        line-height: 2;
    }
}

/* Tablet */
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .Tablet{
        display: block;
    }

    #header .mobile-menu-btn{
        display: none;
    }
}

/* Mobile */
@media only screen and (max-width: 739px){
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    #header{
        overflow: hidden;
    }

    #header .search-btn{
        display: none;
    }

    #nav {
        display: block;
    }
    
    #nav li a{
        padding: 1px 24px;
    }

    #nav > li{
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333 ;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    
    #content .member-img{
        width: 60%;
    }
    
    .contact-form{
        margin-top: 32px;
        width: 100%;
    }

    .col-second{
        width: 100%;
    }
    
}